.header {
  padding: 2rem 0;
  background-color: var(--white);
  width: auto;

  .container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr max-content;

    @include respond(tab-port) {
      justify-content: center;
    }
    @include respond(small-tab-port) {
      grid-template-columns: 1fr;
      gap: 3rem;
      justify-content: center;
      align-items: center;
    }
    @include respond(phone-port) {
      padding: 0;
    }
  }

  &__left-container,
  &__right-container {
    display: grid;
    align-items: center;
    gap: 3rem;

    @include respond(tab-land) {
      gap: 2rem;
    }
    @include respond(iphone-5) {
      gap: 1rem;
    }
  }

  &__left-container {
    grid-template-columns: repeat(3, max-content);

    @include respond(tab-port) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include respond(small-tab-port) {
      grid-row: 2 / 3;
    }
    @include respond(phone-port) {
      display: flex;
    }
  }

  &__right-container {
    grid-template-columns: repeat(2, max-content);

    @include respond(small-tab-port) {
      justify-items: center;
      justify-content: center;
    }
  }

  &__presents {
    font-weight: $bold;
    font-size: 2rem;
  }

  &__logo {
    @include respond(small-phone) {
      width: 14rem;
    }
    @include respond(iphone-5) {
      width: 12rem;
    }
    &--viva {
      width: 10rem;
    }
    &--cloud-dentistry {
      width: 25rem;

      @include respond(tab-land) {
        width: 20rem;
      }
      @include respond(small-phone) {
        width: 18rem;
      }
      @include respond(iphone-5) {
        width: 16rem;
      }
    }
  }
}
