.closer {
  background-color: var(--black);
  color: var(--white);
  padding: 8rem 0;

  .container {
    display: flex;
    flex-direction: column;

    @include respond(phone-port) {
      padding: 0;
    }
  }

  &__title,
  &__subtitle {
    color: var(--white);
    margin: 0;
    font-family: $body-font;
    font-weight: $bold;
    text-align: center;
  }

  &__title {
    font-size: 6rem;
    letter-spacing: -2px;

    @include respond(phone-land) {
      font-size: 5rem;
    }
    @include respond(phone-port) {
      font-size: 4rem;
    }
    @include respond(iphone-5) {
      font-size: 3rem;
    }
  }

  &__subtitle {
    font-size: 4.2rem;
    letter-spacing: 0;

    @include respond(phone-land) {
      font-size: 3.6rem;
    }
    @include respond(phone-port) {
      font-size: 2.75rem;
    }
    @include respond(iphone-5) {
      font-size: 2rem;
    }
  }

  &__logo {
    margin: 0 auto 2rem auto;
  }

  &__btn {
    width: max-content;
    margin: 3rem auto;
    font-size: 4rem;
    padding: 2rem 4rem;

    @include respond(phone-port) {
      padding: 2rem 3rem;
    }
    @include respond(small-phone) {
      width: 90%;
      text-align: center;
      padding: 1.5rem 1rem;
    }
    @include respond(iphone-5) {
      font-size: 3rem;
      width: 90%;
      text-align: center;
      padding: 1.5rem 1rem;
    }
  }

  &__seats,
  &__date {
    text-align: center;
  }

  &__date {
    margin-top: 2rem;
    font-size: 3rem;

    @include respond(iphone-5) {
      font-size: 2rem;
    }
  }

  &__seats {
    margin-bottom: 4rem;
  }
}
