:root {
  // COLORS
  --color-primary: #000000;
  --color-secondary: #cf282d;
  --black: #000000;
  --white: #ffffff;
  --light-grey: #c1c1c1;
  --body-bg-color: #fbfbfb;
}

//FONT FAMILY
$title-font: "Source Sans Pro", sans-serif;
$body-font: "Montserrat", sans-serif;
$alt-font: "Source Sans Pro", sans-serif;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// FONT-SIZES
$basic-font-size: 1.6rem;
$mobile-font-size: 1.5rem;

$big-title: 4rem;
$title-font-size: 3.5rem;
$mobile-title-font-size: 3rem;
